*{
    box-sizing: border-box;
  }
  section{
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }
  section h1{
    text-transform: uppercase;
    text-align: center;
    width: 200%;
    padding: 50px 0;
    color: #313131;
    font-family: monospace;
  }
  .card{
    width: 33.333333%;
  }
  /*Estilo C*/
  .carta{
    font-family: sans-serif;
    width: 30%;
  }
  .carta .img-container{
    overflow: hidden;
    height: 250px;
    position: relative;
    border-radius: 15px;
  }
  .carta .img-container img{
    width: 100%;
    position: absolute;
    transition: all 0.5s;
  }
  .carta:hover .img-container img{
    transform: scale(1.2);
  }
  .carta .img-container .macho{
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    background: rgb(0, 153, 255);
    padding: 15px;
    color: black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
  .carta .img-container .hembra{
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    background: rgb(195, 0, 255);
    padding: 15px;
    color: black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
  .carta .info-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .carta .info-container h3{
    margin: 0;
  }
  .carta .info-container h3,
  .carta .info-container strong,
  .carta .info-container span{
    padding: 5px 15px;
    width: 100%;
  }
  .carta .add-cart{
    margin-top: 2px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    border: 1px solid black;
    border-radius: 25px;
  }
  .carta .add-cart:hover{
    color: black;
    background-color: transparent;
    border: 1px solid black;
  }
  .volver{
    margin: 100PX;
    width: 30%;
    border: 1px;
    background-color: rgba(138, 138, 138, 0.774);
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 100;
    position: center;
    cursor: pointer;
}

.volver:hover {
    background-color: rgb(240, 240, 240);
  }