<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <script src="https://kit.fontawesome.com/2e83633af7.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Admin | pcCRACKS </title>
    <link rel="stylesheet" href="{% static 'pcracks/css/stylemenuoff.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'pcracks/fotos/logobarra.png'%}">
    
    

    
    
</head>

<body>   
    
    
    <header>
        <div class="menu_navegacion">
          <div class="logo">
            <a href="menuON.html">
              <img src="{% static 'pcracks/fotos/logologin.png'%}" alt="">
          </a>
      </div>
          <div class="toggle">
              |||
          </div>
          <div class="menu_opciones">
              <nav class="nav">
                  <ul class="opciones">
                      <li><a href="menuON.html">Inicio</a></li>
                      <li><a href="menuONproductos.html">Productos</a></li>
                      <li><a href="mapaON.html"><span class="icon"><i class="fa fa-map-marker"></i></span></a></li>
                      <li><a href="cuenta.html"><span class="icon"><i class="fa fa-user"></i></span></a></li>
                      <li><a href="carrito.html"><span class="icon"><i class="fa fa-shopping-cart"></i></span></a></li>
                    </ul>
                </nav>
                <div class="box">
                  <div class="container-1">
                      
                      <p><input type="search" id="search" placeholder="Busca tu producto aqui crack :)" list="listamodelos"></p>
                  </div>
                  <datalist id="listamodelos">
                    <option value="Intel">
                    <option value="AMD">
                    <option value="HyperX">
                    <option value="Asus">               

                  </datalist>
                </div>
                <a href="/PCCRACKS/admin.html" class="btn_login">Administrador</a>
                
                <a href="/PCCRACKS/menuOFF.html" class="btn_login">Cerrar Sesión</a>
                

                
            </div>
        </div>
    
    </header>




    <DIv class="pag_admin">
        <H1 CLASS="TITULO_ADMIN">Opciones De Administrador</H1>
        <div class="boton_menuadmin">

            <a class="btn_pgadm_in" href="/PCCRACKS/admin.html">Insertar</a> 
            <a class="btn_pgadm_ed" href="/PCCRACKS/admined.html">Editar</a> 
            <a class="btn_pgadm_el" href="/PCCRACKS/adminel.html">Eliminar</a> 
            
        </div>

        <div class="in_producto">
            <div>            
                <input type="text" size="30" maxlength="100" placeholder="Marca del producto" name="nombre">
            </div>
            <div>
                <input type="text" size="30" maxlength="100" placeholder="Modelo del producto" name="nombre">
            </div>
            
            <form action="../../form-result.php" method="post" enctype="multipart/form-data" target="_blank">
                <p>
                Sube la imagen del producto:
                <input type="file" name="imagensubida" accept="image/png, .jpeg, .jpg, image/gif">
                </p>
            </form>
            <div>
                <input class="v_precio" type="text" size="15" maxlength="30" placeholder="Precio" name="nombre">
            </div>
            <div>           
                <input type="text" size="15" maxlength="30" placeholder="Disponibles" name="nombre">
            </div>
            <div>
                <textarea name="comentarios" rows="30" cols="80" placeholder="Descripción del producto"></textarea>
            </div>
            <div class="boton2">
                <a href="/PCCRACKS/admin.html" class="btn_admin">Guardar</a>
            </div>
            
        </div>

        
    </DIv>

 

    <section class="contact-area" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="contact-content text-center">
                        <a href="#"><img src="{% static 'pcracks/fotos/logobarra.png'%}" alt="logo"></a>
                        <p>Pagina web de ventas de componentes de computador</p>
                        <div class="hr"></div>
                        <h6>Sta. Elena de Huechuraba 1660, 8600036 Huechuraba, Región Metropolitana</h6>
                        <h6>+56 9 3720 3451<span>|</span>+56 9 1234 5678</h6>
                    </div>
                </div>
            </div>
        </div>
      </section>

      <footer>
        <p>Copyright &copy; 2023 <img src="{% static 'pcracks/fotos/logologin.png'%}" alt="logo"> Todos los derechos reservados.</p>
      </footer>


      <script src="{% static 'pcracks/js/menuchico.js'%}"></script>



    </body>

    </html>