{% extends 'pcracks/zplantillaON.html' %}
{% load static %}


    {% block menu %}


    <DIv class="mantenimiento">
        <div>
        .
        </div>
        <div><h1><i class="fa fa-shopping-cart" aria-hidden="true"></i></h1></div>
        <div>
            <H2>EN MANTENIMIENTO<i class="fa fa-cogs" aria-hidden="true"></i></H2>
        </div>
        <P>El carrito de compras se encuentra en mantenimiento</P>
        <h4>Solo se encuentra disponible "comprar ahora"</h4>
        <i class="fa fa-battery-three-quarters" aria-hidden="true"></i>


    </DIv>

    {% endblock menu %}