{% extends 'pcracks/zplantillaON.html' %}
{% load static %}

    

{% block menu %}
    

    <div class="mantenimiento2">
        <P>-</P>
        <P>-</P>
        <P>-</P>
        <P>-</P>
        <P>_</P>
        <table border="1">
            <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Contraseña</th>
                <th>Acciones</th>
            </tr>
            {% for m in listaCliente %}
            <tr>
                <td>{{ m.rut_cliente }}</td>
                <td>{{ m.nombre_cliente }}</td>
                <td>{{ m.apellido_cliente }}</td>
                <td>{{ m.direccion_cliente }}</td>
                <td>{{ m.num_telefonico_cliente }}</td>
                <td>{{ m.email_cliente }}</td>
                <td>{{ m.contrasena_cliente }}</td>
                <td>
                    <a href="" class="btn btn-primary">Modificar</a><br>
                    <a href="" class="btn btn-danger">Eliminar</a>
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock menu %}