{% extends 'pcracks/zplantillaON.html' %}
{% load static %}


    {% block menu %}
        <div class="body_contacto">
            

            <div class="contacto_texto">   
                        <h4>
                        Acá puedes contactarnos por si tienes algún
                        <br>
                        problema o duda y te daremos una solución.
                        <br>
                        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                        </h4>

                
                <form class="contacto" action="{% url 'contacto' %}" method="POST" class="formulario">
                    {% csrf_token %}
                    <label for="name">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="message">Mensaje:</label>
                    <textarea id="message" name="message" required></textarea>

                    <button type="submit" class="formulario__btn">Enviar</button>
                
                </form>
                
            </div>
            
            <div class="map">
                <h4>ubicacion de nuestro local!!!</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d833.0655692184163!2d-70.6729528!3d-33.3642181!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c6fe372a61e5%3A0x67350a09838ea8c4!2sEl%20P%C3%B3rtico%2084%2C%20Huechuraba%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1680998123149!5m2!1ses!2scl"  style="border:0;" ></iframe>        
            </div>
        </div>
        {% endblock menu %}
