
  {% extends 'pcracks/zplantillaON.html' %}
  {% load static %}
  
  
      {% block menu %}
      <h1 class="">.</h1>
  <DIV class="almacen">
    <div class="productos">
    
    {% for m in listaProducto %}
      
        <div class="card">
          
            <div class="imgBox">
              <h1 class="letra">{{ m.categoria }}</h1>
            </div>
          
            <div class="contentBox">
              <h1>{{ m.marca }}</h1>
              <h3>{{ m.modelo }}</h3>
              <h2 class="price">$ {{ m.precio }}</h2>
              <a href="{% url 'comprar' m.cod_producto %}" class="buy">comprar ahora</a>
              <a href="{% url 'Add' m.cod_producto %}" class="buy">Agregar al Carrito</a>

            </div>
            
        </div>
    {% endfor %}
    </div>

  </DIV>
      

    {% endblock menu %}