{% extends 'pcracks/zplantilla.html' %}
{% load static %}

    

    {% block menu %}
    
    <img src="" alt="">
    <main>
        <div class="swiper swiper-hero">
       
        <div class="swiper-wrapper">
          
          <div class="swiper-slide">
            <img src="{% static 'pcracks/fotos/slider/apertura.png'%}" alt="">
          </div>
          <div class="swiper-slide"> 
            <img src="{% static 'pcracks/fotos/slider/descuentos.png'%}" alt="">
          </div>
        </div>
        
        <div class="swiper-pagination"></div>
  
      
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
  
    
      </div>
  
      <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
      <script>
        const swiper = new Swiper(".swiper-hero", {
        
  
          direction: "horizontal",
          loop: true,
   
          autoplay: {
            delay: 10000,
            pauseOnMouseEnter: true,
            disableOnInteraction: false,
          },
  
        
          pagination: {
            el: ".swiper-pagination",
          
            clickable: true,
     
          },
  
      
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
  
        });
      </script>
    </div>
        
    </main>
    {% endblock menu %}

