{% extends 'pcracks/zplantilla.html' %}
{% load static %}

    

    {% block menu %}
    
    <img src="" alt="">
    <main>
        <div class="swiper swiper-hero">
       
        <div class="swiper-wrapper">
          
          <div class="swiper-slide">
            <img src="{% static 'pcracks/fotos/slider/apertura.png'%}" alt="">
          </div>
          <div class="swiper-slide"> 
            <img src="{% static 'pcracks/fotos/slider/descuentos.png'%}" alt="">
          </div>
        </div>
        
        <div class="swiper-pagination"></div>
  
      
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
  
    
      </div>
  
      <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
      <script>
        const swiper = new Swiper(".swiper-hero", {
        
  
          direction: "horizontal",
          loop: true,
   
          autoplay: {
            delay: 10000,
            pauseOnMouseEnter: true,
            disableOnInteraction: false,
          },
  
        
          pagination: {
            el: ".swiper-pagination",
          
            clickable: true,
     
          },
  
      
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
  
        });
      </script>
    </div>
        <div class="portada">
            <h1 class="titulo">Menu Rapido</h1>
            <div class="main-container">
                <div class="item-box">
                    <a href="{% url 'menu_fast_off_procesador'%}"></a>
                    <div>
                        <div class="main-container-img"><a href="{% url 'menu_fast_off_procesador'%}"><img src="{% static 'pcracks/fotos/cpu.png'%}"></a></div>
                    </div>
                    <div class="main-container-title">
                        <h2><a href="{% url 'menu_fast_off_procesador'%}"> PROCESADOR </a></h2>
                    </div>
                </div>

                <div class="item-box">
                    <a href="{% url 'menu_fast_off_gabinete'%}"></a>
                    <div>
                        <div class="main-container-img"><a href="{% url 'menu_fast_off_gabinete'%}"><img alt="Learn CSS" src="{% static 'pcracks/fotos/gabinete.png'%}"></a></div>
                    </div>
                    <div class="main-container-title">
                        <h2><a href="{% url 'menu_fast_off_gabinete'%}"> GABINETE </a></h2>
                    </div>
                </div>

                <div class="item-box">
                    <a href="{% url 'menu_fast_off_perifericos'%}"></a>
                    <div>
                        <div class="main-container-img"><a href="{% url 'menu_fast_off_perifericos'%}"><img src="{% static 'pcracks/fotos/periferico.png'%}" alt=""></a></div> 
                    </div>
                    <div class="main-container-title">
                        <h2><a href="{% url 'menu_fast_off_perifericos'%}"> PERIFERICOS</a></h2>
                    </div>
                </div>

                <div class="item-box">
                    <a href="{% url 'menu_fast_off_gpu'%}"></a>
                    <div>
                        <div class="main-container-img"><a href="{% url 'menu_fast_off_gpu'%}"><img src="{% static 'pcracks/fotos/tvideo.png'%}"></a></div>
                    </div>
                    <div class="main-container-title">
                        <h2><a href="{% url 'menu_fast_off_gpu'%}"> T. DE VIDEO </a></h2>
                    </div>
                </div>

                <div class="item-box">
                    <a href="{% url 'menu_fast_off_placa'%}"></a>
                    <div>
                        <div class="main-container-img"><a href="{% url 'menu_fast_off_placa'%}"><img src="{% static 'pcracks/fotos/placa.png'%}"></a></div>
                    </div>
                    <div class="main-container-title">
                        <h2><a href="{% url 'menu_fast_off_placa'%}"> PLACA MADRE  </a></h2>
                    </div>
                </div>

                <div class="item-box">
                    <a href="{% url 'menu_fast_off_ram'%}"></a>
                    <div>
                        <div class="main-container-img"><a href="{% url 'menu_fast_off_ram'%}"><img src="{% static 'pcracks/fotos/ram.png'%}" width="200" height="200"></a></div>
                    </div>
                    <div class="main-container-title">
                        <h2><a href="{% url 'menu_fast_off_ram'%}"> RAM</a></h2>
                    </div>
                </div>


                <div class="item-box">
                    <a href="{% url 'menu_fast_off_almacenamiento'%}"></a>
                    <div>
                        <div class="main-container-img"><a href="{% url 'menu_fast_off_almacenamiento'%}"><img src="{% static 'pcracks/fotos/almacenamiento.png'%}" width="200" height="200"></a></div>
                    </div>
                    <div class="main-container-title">
                        <h2><a href="{% url 'menu_fast_off_almacenamiento'%}"> ALMACENAMIENTO</a></h2>
                    </div>
                </div>


                <div class="item-box">
                    <a href="{% url 'menu_fast_off_fuente'%}"></a>
                    <div>
                        <div class="main-container-img"><a href="{% url 'menu_fast_off_fuente'%}"><img src="{% static 'pcracks/fotos/fuente.png'%}" width="200" height="200"></a></div>
                    </div>
                    <div class="main-container-title">
                        <h2><a href="{% url 'menu_fast_off_fuente'%}"> FUENTE DE PODER</a></h2>
                    </div>
                </div>


        

            </div>
        </div>
    </main>
    {% endblock menu %}

