{% extends 'pcracks/zplantilla.html' %}
{% load static %}


  {% block menu %}
    {% for m in listaProducto %}
<DIV class="almacen">
  <h1 class="">.</h1>
  
  <div class="productos">
  
    <div class="card">
        <div class="imgBox">
          <h1 class="">{{ m.categoria }}</h1>
        </div>
      
        <div class="contentBox">
          <h1>{{ m.marca }}</h1>
          <h3>{{ m.modelo }}</h3>
          <h2 class="price">$ {{ m.precio }}</h2>
          <a href="{% url 'login' %}" class="buy">comprar ahora</a>
        </div>
    </div>
  </div>
  
</DIV>
    {% endfor %}

  {% endblock menu %}