{% extends 'pcracks/plantilla.html' %}
{% load static %}

    

    {% block menu %}
    
    <main>
        <div class="swiper swiper-hero">
       
        <div class="swiper-wrapper">
          
          <div class="swiper-slide">
            <img src="{% static 'pcracks/fotos/slider/apertura.png'%}" alt="">
          </div>
          <div class="swiper-slide"> 
            <img src="{% static 'pcracks/fotos/slider/descuentos.png'%}" alt="">
          </div>
        </div>
        
        <div class="swiper-pagination"></div>
  
      
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
  
    
      </div>
  
      <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
      <script>
        const swiper = new Swiper(".swiper-hero", {
        
  
          direction: "horizontal",
          loop: true,
   
          autoplay: {
            delay: 10000,
            pauseOnMouseEnter: true,
            disableOnInteraction: false,
          },
  
        
          pagination: {
            el: ".swiper-pagination",
          
            clickable: true,
     
          },
  
      
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
  
        });
      </script>
    </div>
        <div class="portada">
            <h1 class="titulo">Menu Rapido</h1>
            <div class="main-container">
                <div class="item-box">
                    <a href="menuFastOFFProcesador.html"></a>
                    <div>
                        <div class="main-container-img"><a href="menuFastOFFProcesador.html"><img src="{% static 'pcracks/fotos/cpu.png'%}"></a></div>
                    </div>
                    <div class="main-container-title">
                        <h2><a href="menuFastOFFProcesador.html"> PROCESADOR </a></h2>
                    </div>
                </div>

                <div class="item-box">
                    <a href="menuFastOFFGabinete.html"></a>
                    <div>
                        <div class="main-container-img"><a href="menuFastOFFGabinete.html"><img alt="Learn CSS" src="{% static 'pcracks/fotos/gabinete.png'%}"></a></div>
                    </div>
                    <div class="main-container-title">
                        <h2><a href="menuFastOFFGabinete.html"> GABINETE </a></h2>
                    </div>
                </div>

                <div class="item-box">
                    <a href="menuFastOFFPerifericos.html"></a>
                    <div>
                        <div class="main-container-img"><a href="menuFastOFFPerifericos.html"><img src="{% static 'pcracks/fotos/periferico.png'%}" alt=""></a></div> 
                    </div>
                    <div class="main-container-title">
                        <h2><a href="menuFastOFFPerifericos.html"> PERIFERICOS</a></h2>
                    </div>
                </div>

                <div class="item-box">
                    <a href="menuFastOFFGpu.html"></a>
                    <div>
                        <div class="main-container-img"><a href="menuFastOFFGpu.html"><img src="{% static 'pcracks/fotos/tvideo.png'%}"></a></div>
                    </div>
                    <div class="main-container-title">
                        <h2><a href="menuFastOFFGpu.html"> T. DE VIDEO </a></h2>
                    </div>
                </div>

                <div class="item-box">
                    <a href="menuFastOFFPlaca.html"></a>
                    <div>
                        <div class="main-container-img"><a href="menuFastOFFPlaca.html"><img src="{% static 'pcracks/fotos/placa.png'%}"></a></div>
                    </div>
                    <div class="main-container-title">
                        <h2><a href="menuFastOFFPlaca.html"> PLACA MADRE  </a></h2>
                    </div>
                </div>

                <div class="item-box">
                    <a href="menuFastOFFRam.html"></a>
                    <div>
                        <div class="main-container-img"><a href="menuFastOFFRam.html"><img src="{% static 'pcracks/fotos/ram.png'%}" width="200" height="200"></a></div>
                    </div>
                    <div class="main-container-title">
                        <h2><a href="menuFastOFFRam.html"> RAM</a></h2>
                    </div>
                </div>


                <div class="item-box">
                    <a href="menuFastOFFAlmacenamiento.html"></a>
                    <div>
                        <div class="main-container-img"><a href="menuFastOFFAlmacenamiento.html"><img src="{% static 'pcracks/fotos/almacenamiento.png'%}" width="200" height="200"></a></div>
                    </div>
                    <div class="main-container-title">
                        <h2><a href="menuFastOFFAlmacenamiento.html"> ALMACENAMIENTO</a></h2>
                    </div>
                </div>


                <div class="item-box">
                    <a href="menuFastOFFFuente.html"></a>
                    <div>
                        <div class="main-container-img"><a href="menuFastOFFFuente.html"><img src="{% static 'pcracks/fotos/fuente.png' %}" width="200" height="200"></a></div>
                    </div>
                    <div class="main-container-title">
                        <h2><a href="menuFastOFFFuente.html"> FUENTE DE PODER</a></h2>
                    </div>
                </div>


        

            </div>
        </div>
    </main>
    {% endblock menu %}

