<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <script src="https://kit.fontawesome.com/2e83633af7.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Productos | pcCRACKS </title>
    <link rel="stylesheet" href="{% static 'pcracks/stylemenuoff.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'pcracks/fotos/logobarra.png'%}">
    
    
</head>

<body>
    <header>
        <div class="menu_navegacion">
          <div class="logo">
            <a href="menuOFF.html">
                <img src="{% static 'pcracks/fotos/logologin.png'%}" alt="">
            </a>
        </div>
            <div class="toggle">
                |||
            </div>
            <div class="menu_opciones">
                <nav class="nav">
                    <ul class="opciones">
                      <li><a href="menuOFF.html">Inicio</a></li>
                      <li><a href="menuOFFproductos.html">Productos</a></li>
                      <li><a href="mapaOFF.html"><span class="icon"><i class="fa fa-map-marker"></i></span></a></li>
                      <li><a href="Login.html"><span class="icon"><i class="fa fa-user"></i></span></a></li>
                      <li><a href="Login.html"><span class="icon"><i class="fa fa-shopping-cart"></i></span></a></li>
                    </ul>
                </nav>
                <div class="box">
                  <div class="container-1">
                      
                      <p><input type="search" id="search" placeholder="Busca tu producto aqui crack :)" list="listamodelos"></p>
                  </div>
                  <datalist id="listamodelos">
                    <option value="Intel">
                    <option value="AMD">
                    <option value="HyperX">
                    <option value="Asus">               

                  </datalist>
                </div>
                <a href="Login.html" class="btn_login">Registrarse</a>
                

                
            </div>
        </div>
    
    </header>

    

  
  <DIV class="almacen">

    <h1 class="nombretipo">CPU</h1>
    <div class="productos">
    
      <div class="card">
          <div class="imgBox">
            <img src="{% static 'pcracks/FOTOPRODUCTO/CPU/5r5mil.png'%}" alt="" class="mouse">
          </div>
        
          <div class="contentBox">
            <h1>AMD</h1>
            <h3>Procesador Ryzen 5 5600</h3>
            <h2 class="price">$ 129.990</h2>
            <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
            <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
          </div>
      </div>



      <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/CPU/7r5mil.jpg'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>AMD</h1>
          <h3>Procesador Ryzen 7 5800X</h3>
          <h2 class="price">$ 229.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>



      <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/CPU/i511th.PNG'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>INTEL</h1>
          <h3>Procesador Core i5 11400</h3>
          <h2 class="price">$ 165.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>



      <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/CPU/i512th.png'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>INTEL</h1>
          <h3>Procesador Core i5 12400</h3>
          <h2 class="price">$ 209.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>
    </div>




  <h1 class="nombretipo">Placas Madres</h1>
  <div class="productos">
    <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/PLACA/asush510m.png'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>ASUS</h1>
          <h3>Placa Madre Prime H510M-E</h3>
          <h2 class="price">$ 69.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>


      <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/PLACA/asush370m.png'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>ASUS</h1>
          <h3>Placa Madre PRIME H370M</h3>
          <h2 class="price">$ 99.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>


      <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/PLACA/giga450m.png'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>Gigabyte</h1>
          <h3>Placa Madre B450M S2H</h3>
          <h2 class="price">$ 82.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>

      <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/PLACA/gigah510m.png'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>Gigabyte</h1>
          <h3>Placa Madre H510M</h3>
          <h2 class="price">$ 99.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>
    </div>



    <h1 class="nombretipo">RAM</h1>
  <div class="productos">
    
      <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/RAM/HX430C15FB3AK2-16.png'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>HYPERX</h1>
          <h3>Ram DDR4 (2x8GB) RGB</h3>
          <h2 class="price">$ 99.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>

      <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/RAM/memoria-ram-hyperx-fury-ddr4-8-gb-3600-mhz.png'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>HYPERX</h1>
          <h3>Ram DDR4 16GB</h3>
          <h2 class="price">$ 79.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>

      <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/RAM/prod-6655-image-1-3.png'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>HYPERX</h1>
          <h3>Ram DDR4 16GB RGB</h3>
          <h2 class="price">$ 89.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>

      <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/RAM/RAM.png'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>XPG</h1>
          <h3>Ram DDR4 4GB</h3>
          <h2 class="price">$ 29.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>
    </div>


    <h1 class="nombretipo">Almacenamiento</h1>
    <div class="productos">
      
      <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/ALMACENAMIENTO/540.PNG'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>wd</h1>
          <h3>SSD 240GB SATA</h3>
          <h2 class="price">$ 29.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>

      <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/ALMACENAMIENTO/D_NQ_NP_652728-MLA53971835575_022023-O.webp'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>wd</h1>
          <h3>SSD 480GB SATA</h3>
          <h2 class="price">$ 49.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>

      <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/ALMACENAMIENTO/D_NQ_NP_691272-MCO45626132417_042021-O.jpg'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>wd</h1>
          <h3>HDD 4TB SATA</h3>
          <h2 class="price">$ 61.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>


      <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/ALMACENAMIENTO/D_NQ_NP_917766-MCO44535414613_012021-O.PNG'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>wd</h1>
          <h3>HDD 1TB SATA</h3>
          <h2 class="price">$ 19.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>
    </div>

    <h1 class="nombretipo">Gabinetes</h1>
    <div class="productos">
    
      <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/GABINETE/fantechcg71.png'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>fantech</h1>
          <h3>Pulse CG71 RGB</h3>
          <h2 class="price">$ 63.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>


      <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/GABINETE/msi110matx.png'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>MSI</h1>
          <h3>MPG Gungnir 110M ARGB</h3>
          <h2 class="price">$ 81.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>


      <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/GABINETE/sateK381.png'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>sate</h1>
          <h3>K381</h3>
          <h2 class="price">$ 33.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>


      <div class="card">
        <div class="imgBox">
          <img src="{% static 'pcracks/FOTOPRODUCTO/GABINETE/sateK874.png'%}" alt="" class="mouse">
        </div>
      
        <div class="contentBox">
          <h1>sate</h1>
          <h3>K874</h3>
          <h2 class="price">$ 39.990</h2>
          <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
          <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
        </div>
      </div>
    </div>


      <h1 class="nombretipo">Fuentes de poder</h1>
      <div class="productos">
        <div class="card">
          <div class="imgBox">
            <img src="{% static 'pcracks/FOTOPRODUCTO/PSU/Corsair-CX-Series-CX650.PNG'%}" alt="" class="mouse">
          </div>
        
          <div class="contentBox">
            <h1>Corsair</h1>
            <h3>CX 650W RGB 80Plus bronze</h3>
            <h2 class="price">$ 39.990</h2>
            <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
            <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
          </div>
        </div>

        <div class="card">
          <div class="imgBox">
            <img src="{% static 'pcracks/FOTOPRODUCTO/PSU/FUENTEDEPODER GAMEMAXGP-850W80pBRONCE.png'%}" alt="" class="mouse">
          </div>
        
          <div class="contentBox">
            <h1>GAMEMAX</h1>
            <h3>GP 850W 80Plus bronze</h3>
            <h2 class="price">$ 69.990</h2>
            <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
            <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
          </div>
        </div>


        <div class="card">
          <div class="imgBox">
            <img src="{% static 'pcracks/FOTOPRODUCTO/PSU/ESGAMING850w.jpg'%}" alt="" class="mouse">
          </div>
        
          <div class="contentBox">
            <h1>ESGAMING</h1>
            <h3>850W RGB 80Plus Gold</h3>
            <h2 class="price">$ 109.990</h2>
            <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
            <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
          </div>
        </div>


        <div class="card">
          <div class="imgBox">
            <img src="{% static 'pcracks/FOTOPRODUCTO/PSU/Gamemax-GP-650.png'%}" alt="" class="mouse">
          </div>
        
          <div class="contentBox">
            <h1>GAMEMAX</h1>
            <h3>GP 650W RGB 80Plus Gold</h3>
            <h2 class="price">$ 39.990</h2>
            <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
            <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
          </div>
        </div>
      </div>




      <h1 class="nombretipo">Perifericos</h1>
      <div class="productos">
        <div class="card">
          <div class="imgBox">
            <img src="https://www.corsair.com/corsairmedia/sys_master/productcontent/CH-9300011-NA-M65_PRO_RGB_BLK_04.png" alt="mouse corsair" class="mouse">
          </div>
        
          <div class="contentBox">
            <h1>Corsair</h1>
            <h3>Mouse M65</h3>
            <h2 class="price">$ 49.990</h2>
            <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
            <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
          </div>
        </div>
        
      </div>
  </div>




  <h1 class="nombretipo">GPU</h1>
  <div class="productos">
    <div class="card">
      <div class="imgBox">
        <img src="{% static 'pcracks/FOTOPRODUCTO/GPU/msi2070.png'%}" alt="" class="mouse">
      </div>
    
      <div class="contentBox">
        <h1>msi</h1>
        <h3>GeForce RTX 2070 8GB</h3>
        <h2 class="price">$ 379.990</h2>
        <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
        <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
      </div>
    </div>



    <div class="card">
      <div class="imgBox">
        <img src="{% static 'pcracks/FOTOPRODUCTO/GPU/asus3080.png'%}" alt="" class="mouse">
      </div>
    
      <div class="contentBox">
        <h1>ASUS</h1>
        <h3>GeForce RTX 3080 10GB</h3>
        <h2 class="price">$ 999.990</h2>
        <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
        <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
      </div>
    </div>


    <div class="card">
      <div class="imgBox">
        <img src="{% static 'pcracks/FOTOPRODUCTO/GPU/giga1050ti.png'%}" alt="" class="mouse">
      </div>
    
      <div class="contentBox">
        <h1>Gigabyte</h1>
        <h3>GeForce GTX 1050 Ti 4GB</h3>
        <h2 class="price">$ 209.990</h2>
        <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
        <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
      </div>
    </div>

    <div class="card">
      <div class="imgBox">
        <img src="{% static 'pcracks/FOTOPRODUCTO/GPU/rog3090.png'%}" alt="" class="mouse">
      </div>
    
      <div class="contentBox">
        <h1>Asus</h1>
        <h3>ROG RTX3080TI 12GB OC</h3>
        <h2 class="price">$ 1.299.990</h2>
        <a href="/PCCRACKS/Login.html" class="buy">Agregar al Carrito</a>
        <a href="/PCCRACKS/Login.html" class="buy">comprar ahora</a>
      </div>
    </div>
  </DIV>
</div>
  

<section class="contact-area" id="contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 offset-lg-3">
              <div class="contact-content text-center">
                  <a href="#"><img src="{% static 'pcracks/fotos/logobarra.png'%}" alt="logo"></a>
                  <p>Pagina web de ventas de componentes de computador</p>
                  <div class="hr"></div>
                  <h6>Sta. Elena de Huechuraba 1660, 8600036 Huechuraba, Región Metropolitana</h6>
                  <h6>+56 9 3720 3451<span>|</span>+56 9 1234 5678</h6>
              </div>
          </div>
      </div>
  </div>
</section>

<footer>
  <p>Copyright &copy; 2023 <img src="{% static 'pcracks/fotos/logologin.png'%}" alt="logo"> Todos los derechos reservados.</p>
</footer>
    
<script src="{% static 'pcracks/js/menuchico.js'%}"></script>
</body>

</html>