{% extends 'pcracks/zplantillaON.html' %}
{% load static %}


    {% block menu %}


    <DIV class="almacen">

      <h1 class="nombretipo">Gabinetes</h1>
      <div class="productos">
      
        <div class="card">
          <div class="imgBox">
            <img src="{% static 'pcracks/FOTOPRODUCTO/GABINETE/fantechcg71.png'%}" alt="" class="mouse">
          </div>
        
          <div class="contentBox">
            <h1>fantech</h1>
            <h3>Pulse CG71 RGB</h3>
            <h2 class="price">$ 63.990</h2>
            <a href="/PCCRACKS/carrito.html" class="buy">Agregar al Carrito</a>
            <a href="/PCCRACKS/PRODUCTOS/GABINETE/FTpulse.html" class="buy">comprar ahora</a>
          </div>
        </div>
  
  
        <div class="card">
          <div class="imgBox">
            <img src="{% static 'pcracks/FOTOPRODUCTO/GABINETE/msi110matx.png'%}" alt="" class="mouse">
          </div>
        
          <div class="contentBox">
            <h1>MSI</h1>
            <h3>MPG Gungnir 110M ARGB</h3>
            <h2 class="price">$ 81.990</h2>
            <a href="/PCCRACKS/carrito.html" class="buy">Agregar al Carrito</a>
            <a href="/PCCRACKS/PRODUCTOS/GABINETE/MSIgungnir.html" class="buy">comprar ahora</a>
          </div>
        </div>
  
  
        <div class="card">
          <div class="imgBox">
            <img src="{% static 'pcracks/FOTOPRODUCTO/GABINETE/sateK381.png'%}" alt="" class="mouse">
          </div>
        
          <div class="contentBox">
            <h1>sate</h1>
            <h3>K381</h3>
            <h2 class="price">$ 33.990</h2>
            <a href="/PCCRACKS/carrito.html" class="buy">Agregar al Carrito</a>
            <a href="/PCCRACKS/PRODUCTOS/GABINETE/satek381.html" class="buy">comprar ahora</a>
          </div>
        </div>
  
  
        <div class="card">
          <div class="imgBox">
            <img src="{% static 'pcracks/FOTOPRODUCTO/GABINETE/sateK874.png'%}" alt="" class="mouse">
          </div>
        
          <div class="contentBox">
            <h1>sate</h1>
            <h3>K874</h3>
            <h2 class="price">$ 39.990</h2>
            <a href="/PCCRACKS/carrito.html" class="buy">Agregar al Carrito</a>
            <a href="/PCCRACKS/PRODUCTOS/GABINETE/satek874.html" class="buy">comprar ahora</a>
          </div>
        </div>
      </div>
  
    
    </DIV>



    <section class="contact-area" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="contact-content text-center">
                        <a href="#"><img src="{% static 'pcracks/fotos/logobarra.png'%}" alt="logo"></a>
                        <p>Pagina web de ventas de componentes de computador</p>
                        <div class="hr"></div>
                        <h6>Sta. Elena de Huechuraba 1660, 8600036 Huechuraba, Región Metropolitana</h6>
                        <h6>+56 9 3720 3451<span>|</span>+56 9 1234 5678</h6>
                    </div>
                </div>
            </div>
        </div>
      </section>

      <footer>
        <p>Copyright &copy; 2023 <img src="{% static 'pcracks/fotos/logologin.png'%}" alt="logo"> Todos los derechos reservados.</p>
      </footer>


      <script src="{% static 'pcracks/js/menuchico.js'%}"></script>


    </body>

    </html>