<!DOCTYPE html>
<html lang="en">
	{% load static %}
<head>
    <script src="https://kit.fontawesome.com/2e83633af7.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tienda tecnologica | pcCRACKS </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="{% static 'pcracks/css/registro.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'pcracks/fotos/logobarra.png'%}">

    
</head>
<body>

	<main>
		<section id="sect1" class="sect">
			<video src="{% static 'pcracks/fotos/fondologin.mp4'%}" autoplay="true" muted="true" loop="true" ></video>
		  
	  
			<header class="cabecera">
				<img src="{% static 'pcracks/fotos/logobarra.png'%}" alt="" height="100px" >
				<h1>REGISTRATE CRACK</h1>
				

			</header>
			<a class="cuenta_add" href="{% url 'login' %}">¿Ya tienes una cuenta?</a>
			
			<form action="{% url 'agregarCliente' %}" method="POST" name="formulario" class="formulario" id="formulario">
				{% csrf_token %}
				<!-- Grupo: rut -->
				<!-- Grupo: rut -->
				<!--{% if rut == Cliente.rut_cliente %}
					<p class="formulario__input-error">Ya existe una cuenta con el Rut ingresado</p>
				{% else %}
					<p class="formulario__input-error">El rut debe incluir digito verificador sin guion ni puntos</p>
				{% endif %}-->
				
				<div class="formulario__grupo" id="grupo__rut">
					<label for="rut" class="formulario__label">Rut</label>
					<div class="formulario__grupo-input">
						<input type="text" class="formulario__input" name="rut" id="rut" placeholder="Ej: 123456789">
						<i class="formulario__validacion-estado fas fa-times-circle"></i>
					</div>
					<p class="formulario__input-error">El rut debe incluir digito verificador sin guion ni puntos</p>
				</div>

				<!-- Grupo: Nombre -->
				<div class="formulario__grupo" id="grupo__nombre">
					<label for="nombre" class="formulario__label">Nombre</label>
					<div class="formulario__grupo-input">
						<input type="text" class="formulario__input" name="nombre" id="nombre" placeholder="Primer nombre">
						<i class="formulario__validacion-estado fas fa-times-circle"></i>
					</div>
					<p class="formulario__input-error">El nombre debe contener mas de 3 letras, sin espacios ni caracterteres especiales("@,#,-..").</p>
				</div>

				<!-- Grupo: apellido -->

				<div class="formulario__grupo" id="grupo__apellido">
					<label for="apellido" class="formulario__label">Apellido</label>
					<div class="formulario__grupo-input">
						<input type="text" class="formulario__input" name="apellido" id="apellido" placeholder="Apellido paterno">
						<i class="formulario__validacion-estado fas fa-times-circle"></i>
					</div>
					<p class="formulario__input-error">El apellido debe contener mas de 2 letras, sin espacios ni caracterteres especiales("@,#,-..").</p>
				</div>

				<!-- Grupo: Correo Electronico -->
				<div class="formulario__grupo" id="grupo__correo">
					<label for="correo" class="formulario__label">Correo Electrónico</label>
					<div class="formulario__grupo-input">
						<input type="email" class="formulario__input" name="correo" id="correo" placeholder="correo@correo.com">
						<i class="formulario__validacion-estado fas fa-times-circle"></i>
					</div>
					<p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
				</div>

				<!-- Grupo: Contraseña -->
				<div class="formulario__grupo" id="grupo__password">
					<label for="password" class="formulario__label">Contraseña</label>
					<div class="formulario__grupo-input">
						<input type="password" class="formulario__input" name="password" id="password">
						<i class="formulario__validacion-estado fas fa-times-circle"></i>
					</div>
					<p class="formulario__input-error">La contraseña tiene que ser de 8 a 20 caracteres.</p>
				</div>

				<!-- Grupo: Contraseña 2 -->
				<div class="formulario__grupo" id="grupo__password2">
					<label for="password2" class="formulario__label">Repetir Contraseña</label>
					<div class="formulario__grupo-input">
						<input type="password" class="formulario__input" name="password2" id="password2">
						<i class="formulario__validacion-estado fas fa-times-circle"></i>
					</div>
					<p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
				</div>

				

				<!-- Grupo: Teléfono -->
				<div class="formulario__grupo" id="grupo__telefono">
					<label for="telefono" class="formulario__label">N° Celular +569</label>
					<div class="formulario__grupo-input">
						<input type="text" class="formulario__input" name="telefono" id="telefono" placeholder="12345678" >
						<i class="formulario__validacion-estado fas fa-times-circle"></i>
					</div>
					<p class="formulario__input-error">El numero celular no debe contener +569 ni espacio y el total son 8 digitos</p>
				</div>

				<!-- Grupo: direccion -->
				<div class="formulario__grupo" id="grupo__direccion">
					<label for="direccion" class="formulario__label">Dirección</label>
					<div class="formulario__grupo-input">
						<input type="text" class="formulario__input" name="direccion" id="direccion" placeholder="Calle #1234, Comuna, Region">
						<i class="formulario__validacion-estado fas fa-times-circle"></i>
					</div>
					<p class="formulario__input-error">Dirección debe tener un minimo de 13 letras y solo admite # y comas</p>
				</div>

				<!-- Grupo: Terminos y Condiciones -->
				<div class="formulario__grupo" id="grupo__terminos">
					<label class="formulario__label">
						<input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
						Acepto los <a href="" class="cuenta_add">Terminos y condiciones</a>
					</label>
					
				</div>

				<div class="formulario__mensaje" id="formulario__mensaje">
					<p><i class="fas fa-exclamation-triangle"></i> <b>Rellena todo el formulario</b> </p>
				</div>

				<div class="formulario__grupo formulario__grupo-btn-enviar">
					<button type="submit" class="formulario__btn">Registrarse</button>
					<p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Registrado exitosamente!</p>
				</div>

					
			</form>
		</section>
	</main>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      {% if messages %}
				{% for m in messages %}
						<script>
							Swal.fire({
								"title": "Felicitaciones!",
								"text": "{{m}}",
								"icon": "success",
								"backdrop": "True",
								"timer": "2000"
							})
						</script>
				{% endfor %}
			{% endif %}
	
	<script src="{% static 'pcracks/js/verificacion_registro.js'%}"></script> 

</body>
</html>