<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <script src="https://kit.fontawesome.com/2e83633af7.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tienda tecnologica | pcCRACKS </title>
    <link rel="stylesheet" href="{% static 'pcracks/css/stylemenu.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'pcracks/fotos/logobarra.png'%}">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    
</head>

<header>
    <div class="menu_navegacion">
      <div class="logo">
        <a href="{% url 'menu_off'%}">
            <img src="{% static 'pcracks/fotos/logologin.png'%}" alt="">
        </a>
    </div>
        <div class="toggle">
            |||
        </div>
        <div class="menu_opciones">
            <nav class="nav">
                <ul class="opciones">
                    <li><a href="{% url 'menu_off'%}">Inicio</a></li>
                    <li><a href="{% url 'menu_off_productos'%}.html">Productos</a></li>
                    <li><a href="{% url 'mapa_off'%}"><span class="icon"><i class="fa fa-map-marker"></i></span></a></li>
                    <li><a href="{% url 'login'%}"><span class="icon"><i class="fa fa-user"></i></span></a></li>
                    <li><a href="{% url 'login'%}"><span class="icon"><i class="fa fa-shopping-cart"></i></span></a></li>
                </ul>
            </nav>

              <div class="container-1">
                  
                <FORM action="/buscar/" method="GET" name="barra_buscar">
                    <input type="text" id="search" placeholder="Busca tu producto aqui crack :)" name="barra_buscar" >
                </FORM>
                  
              </div>

            <a href="{% url 'login'%}" class="btn_login">Registrarse</a>
            

            
        </div>
    </div>

</header>

<body>
    

    {% block menu %}
    {% endblock menu %}
    

    <section class="contact-area" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="contact-content text-center">
                        <a href="#"><img src="{% static 'pcracks/fotos/logobarra.png'%}" alt="logo"></a>
                        <p>Pagina web de ventas de componentes de computador</p>
                        <div class="hr"></div>
                        <h6>Sta. Elena de Huechuraba 1660, 8600036 Huechuraba, Región Metropolitana</h6>
                        <h6>+56 9 3720 3451<span>|</span>+56 9 1234 5678</h6>
                    </div>
                </div>
            </div>
        </div>
      </section>

      <footer>
        <p>Copyright &copy; 2023 <img src="{% static 'pcracks/fotos/logologin.png'%}" alt="logo"> Todos los derechos reservados.</p>
      </footer>
    
    <script src="{% static 'pcracks/PCCRACKS/js/menuchico.js'%}"></script>
</body>

</html>