<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/2e83633af7.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tienda tecnologica | pcCRACKS </title>
    <link rel="stylesheet" href="{% static 'pcracks/css/stylemenu.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'pcracks/fotos/logobarra.png'%}">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    
</head>

<header>
    <div class="menu_navegacion">
        <div class="logo">
            <img src="{% static 'pcracks/fotos/logologin.png'%}" alt="">
        </div>
        <div class="box">
            <div class="container-1">
                
                <FORM action="/buscar/" method="GET">
                <input type="text" name="barra_buscar" id="search" placeholder="🔍︎ Busca tu producto aqui :)" >
                </FORM>
            </div>
        </div>
        <div class="toggle">
            |||
        </div>
        
        <div class="menu_opciones">
            <nav class="nav">
                <ul class="opciones">
                    <li><a href="{% url 'menu_off'%}">Inicio</a></li>
                    <li><a href="{% url 'menu_off_productos'%}.html">Productos</a></li>
                    <li><a href="{% url 'mapa_off'%}"><span class="icon"><i class="fa fa-map-marker"></i></span></a></li>
                    <li><a href="{% url 'login'%}"><span class="icon"><i class="fa fa-user"></i></span></a></li>
                    <li><a href="{% url 'login'%}"><span class="icon"><i class="fa fa-shopping-cart"></i></span></a></li>
                </ul>
            </nav>
            <a href="{% url 'login'%}" class="btn_login">Iniciar sesión</a>
            <a href="{% url 'registro'%}" class="btn_login">Registrarse</a>
            

            
        </div>
    </div>

</header>

<body>
    

{% block menu %}
{% endblock menu %}
    

<footer>
    <section class="contact-area" >
        <div class="piedepagina">
                    <div class="contact-content">
                        <a href="#"><img src="{% static 'pcracks/fotos/logobarra.png'%}" class="logofoteer" ></a>
                        <p>Pagina web de ventas de componentes de computador</p>
                        <div class="hr"></div>
                        <h6>Sta. Elena de Huechuraba 1660, 8600036 Huechuraba, Región Metropolitana</h6>
                        
                        <h6>+56 9 3720 3451<span>|</span>+56 9 1234 5678</h6>
                    </div>
        </div>
    </section>
    <p>Copyright &copy; 2023 <img src="{% static 'pcracks/fotos/logologin.png'%}" alt="logo"> Todos los derechos reservados.</p>

</footer>
    
    <script src="{% static 'pcracks/js/menuchico.js'%}"></script>
</body>

</html>