@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    
}
:root{
    --color_botones_primarios: #ff7b00;
}


body{
    background: #ffffff;
}

header{
    background-color: #ffffff;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 100;
    top: 0px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    align-items: center;
    
}
.menu_navegacion{
    height: 100%;
    margin: auto;
    display: flex;
    padding: 0px 20px;
    max-width: 1700px;
    
}

.logo{
    margin-top: 20px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: -1;
}
.logo img{
    width: 180px;
}

.menu_opciones{
    display: flex;
    align-items: center;
    margin: 0px 200px;
}


.menu_opciones nav ul{
    display: flex;

}

.menu_opciones nav ul li{
    list-style: none;
    margin: 15px 20px;
}

.menu_opciones nav ul li a{
    color: black; /*variable*/
    font-size: 18px; /*variable*/
    position: relative;
}

.menu_opciones nav ul li a:hover{
    color: var(--color_botones_primarios)
}

.btn_login{
    color: #000;
    display: block;
    padding: 8px 40px;
    border: 2px solid var(--color_botones_primarios); /*variable*/
    border-radius: 10px;
    font-weight: 500;
    margin: 0px 220px;
    transition: all 300ms;
}

.btn_login:hover{
    color: white;
    background:var(--color_botones_primarios)
}


.menu_opciones .social_media{
    margin: 10px -120px;
}

.menu_opciones .social_media img{
    width: 30px;
    
}

.abrirmenu{
    display: none;
}
.toggle {
    color: #000000;
    margin-left: auto;
    font-size: 30px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: .3s;
    display: none;
}

.rotate {
    transform: rotate(180deg);
}

@media screen and (max-width: 800px){
    .toggle {
        display: inline-block;
    }

    .menu_opciones{
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #c0c0c0;
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 80px);
        width: 100%;
        z-index: -1;
        top: -100vh;
        transition: .5s;
    }
    .menu_opciones{
        flex-direction: column;
        align-items: center;
    }
    .opciones{
        flex-direction: column;

    }
    .opciones a{
        color: #ff7b00;
    }
    .active {
        top: 80px;
    }
    
}


.swiper-hero {
    width: 90%;
    max-width: 1800px;
    position: fixed;
    top: 50px;
    
  }

  .swiper-hero .swiper-slide {
    width: 255px;
  }

  .swiper-hero img {
    height: 170px;
    width: 100%;
    object-fit: contain;
  }

  @media (min-width: 1024px) {
    .swiper-hero img {
      height: 355px;
    }
  }

  .swiper-hero .swiper-button-prev,
  .swiper-hero .swiper-button-next {
    --swiper-navigation-size: 20px;
    background-color: white;
    height: 70px;
    width: 50px;
    margin-top: -35px;

    opacity: 0;
    transition: opacity 0.3s;
  }

  .swiper-hero .swiper-button-prev {
    border-radius: 0 65px 65px 0;
    left: -10px;
  }
  .swiper-hero .swiper-button-next {
    border-radius: 65px 0 0 65px;
    right: -10px;
  }

  .swiper-hero:hover .swiper-button-prev,
  .swiper-hero:hover .swiper-button-next {
    opacity: 1;
  }

  .swiper-hero .swiper-pagination {
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.25;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 2px;
  }

  .swiper-hero .swiper-pagination-bullet {
    box-shadow: inset 0 0 0 1px #fff;
  }

  .swiper-hero .swiper-pagination-bullet-active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  }


.portada{
    padding-top: 70px;
}

.titulo{
        text-align: center;
        margin: 10px;
    }


.main-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 90%;
}

.main-container-img {
    margin: auto;
    text-align: center;
    overflow: hidden;
    height: 100px;
}

.main-container .item-box {
    width: calc((100% - 100px) / 3);
    float: left;
    background: #ff8800;
    padding: 5px 0 5px;
    margin: 8px 0;
    overflow: hidden;
    position: relative;
    border-radius: 14px;
    box-shadow: -1px 7px 8px 0 rgb(0 0 0 / 10%);
    transition: all .3s ease;
}

.item-box img {
    max-width: 100%;
}

.main-container-img a {
    height: 100px;
    overflow: hidden;
    width: 100%;
    display: block;
    margin: 0;
}

.main-container-img img {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.main-container-title {
    text-align: center;
    padding: 0 5px;
}

.main-container-title h2 a {
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
    display: block;
    line-height: 21px;
}

@media screen and (max-width: 880px) {
    .main-container .item-box {
        width: calc((100% - 20px) / 3);
        margin: 8px 0;
    }
}

@media screen and (max-width: 640px) {
    .main-container .item-box {
        width: calc((100% - 20px) / 2);
    }
}

.main-container .item-box:hover {
    transform: translateY(-9px);
}

