@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'poppins', sans-serif;

  
}
.sect {
  width: 100%;
  height: 65%;
  background-color: #111111e5;
  color: #fff;
}


video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 99%;
  min-height: 99%;
  z-index: -2;
}


.btn-primary { 
  cursor: pointer;
  color: black;
  padding: 8px 30px;
  border: 2px solid var(--color_botones_primarios); /*variable*/
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  margin: 10px 7px;
  transition: all 300ms;
  white-space: nowrap;
  background:rgb(255, 183, 124);
}
.btn-primary:hover{
  background: var(--color_botones_primarios);
  color: #ffffff;
}
:root{
  --color_botones_primarios: #ff7b00;
}

.btn-block { width: 100%; display:block; }

* { -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box; }

html { width: 100%; height:100%; }

body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;

}
.login { 
	position: absolute;
	top: 30%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
.login h1 { color: #fff; text-shadow: 0 0 10px rgb(0, 0, 0); letter-spacing:1px; text-align:center;
font-size: 40px;
margin-block-end: 8%; }
.cuenta_add {
  outline: none;
  text-decoration: none;
  padding: 3px 1px 0;
  font-size: 15px;

}

.cuenta_add:link {
  color: var(--color_botones_primarios);
}

.cuenta_add:visited {
  color: var(--color_botones_primarios);
}

.cuenta_add:focus {
  border-bottom: 1px solid;
  background: #008cff;
}

.cuenta_add:hover {
  border-bottom: 1px solid;

}

.cuenta_add:active {
  background: var(--color_botones_primarios);
  color: #000000;
}

input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0, 0, 0, 0.842);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 15px;
  color: #fff;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(255, 115, 0, 0.432), 0 1px 1px rgba(255,255,255,0.2); }
.formulario__grupo-input {
	position: relative;
}
:root{
    --color_botones_primarios: #ff7b00;
}
.formulario__input {
	color: #fff;
	width: 100%;
	background: #313131;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #ff7300;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}


.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	cursor: pointer;
    color: black;
    padding: 8px 30px;
    border: 2px solid var(--color_botones_primarios); /*variable*/
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 7px;
    transition: all 300ms;
    white-space: nowrap;
    background:rgb(255, 183, 124);
}

.formulario__btn:hover {
	background: var(--color_botones_primarios);
      color: #ffffff;
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
    cursor: pointer;
    display: block;
      color: black;
      padding: 8px 30px;
      border: 2px solid var(--color_botones_primarios); /*variable*/
      border-radius: 10px;
      font-size: 15px;
      font-weight: 600;
      margin: 10px 7px;
      transition: all 300ms;
      white-space: nowrap;
      background:rgb(255, 183, 124);
  
    }
    
    .formulario__btn:hover {
        background: var(--color_botones_primarios);
        color: #ffffff;
    }
}
