
.body_contacto{
  display: block;
}

.map{
    text-align: center;
    margin-top: 0px;
    position:flex;
    top: 8px;
    z-index: -1;
}
.texto_mapa{
    top: 8%;
}

iframe{
  margin: 0 auto;
  height: 400px;
  width: 700px;
}
@media screen and (max-width: 751px){
  iframe{
    height: 250px;
    width: 450px;
  }
}
  
.contacto_texto{
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin: 100px auto;
    display: flex;
    align-items: center;
    text-align: center;

}

.contacto input,
  textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
  }

  textarea {
    height: 10rem;
  }

  .contacto_texto input.btn_login{
    cursor: pointer;
  }
  

  
  

