{% extends 'pcracks/zplantillaON.html' %}
{% load static %}


    {% block menu %}

<body>

      <div class="ad">
        <div class="descpro">
          <div class="box one">
            <div class="details">
              <div class="topic">Descripcion</div>
              <p>
                {{ Producto.marca }}
              </p>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>

              </div>
                <div class="price-box">
                  <div class="price">$ {{ m.precio }}</div>
                </div>
            </div>
            <div class="button1">
              <a href="/PCCRACKS/pago.html"><button>Comprar</button></a>
            </div>
          </div>
          <div class="box two">
            <div class="image-box">
              <div class="image">
              <img src="/PCCRACKS/FOTOPRODUCTO/CPU/i511th.PNG" alt="">
              </div>
              <div class="info">
                <div class="brand"> {{ Producto.marca }}</div>
                <div class="name">{{ m.modelo }}</div>
                <div class="shipping">RETIRO EN TIENDA</div>
                <div class="stock">{{ m.disponibilidad }} Disponibles</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endblock menu %}