@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'poppins', sans-serif ;
    
}
:root{
    --color_botones_primarios: #ff7b00;
}

body{
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 100;
  top: 0px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  align-items: center;
  
}
.menu_navegacion{
  height: 100%;
  margin: auto;
  display: flex;
  padding: 0px 20px;
  max-width: 1500px;
  
}

.logo{
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

.logo img{
  width: 180px;
}

.menu_opciones{
  display: flex;
  align-items: center;
  margin: 0px 100px;
}


.menu_opciones nav ul{
  display: flex;

}

.menu_opciones nav ul li{
  list-style: none;
  margin: 15px 20px;
}

.menu_opciones nav ul li a{
  color: black; /*variable*/
  font-size: 18px; /*variable*/
  position: relative;
}

.menu_opciones nav ul li a:hover{
  color: var(--color_botones_primarios)
}

.btn_login{
  color: #000;
  display: block;
  padding: 8px 40px;
  border: 2px solid var(--color_botones_primarios); /*variable*/
  border-radius: 10px;
  font-weight: 500;
  margin: 0px 120px;
  transition: all 300ms;
}

.btn_login:hover{
  color: white;
  background:var(--color_botones_primarios)
}


.menu_opciones .social_media{
  margin: 10px -80px;
}

.menu_opciones .social_media img{
  width: 30px;
  
}

.abrirmenu{
  display: none;
}
.toggle {
  color: #000000;
  margin-left: auto;
  font-size: 30px;
  transform: rotate(90deg);
  cursor: pointer;
  transition: .3s;
  display: none;
}



.rotate {
  transform: rotate(180deg);
}

@media screen and (max-width: 1350px){
  .toggle {
      display: inline-block;
  }

  .menu_opciones{
      margin: -10px -20px;
      position: absolute;
      display: flex;
      flex-direction: column;
      background: #fffffff3;
      text-align: center;
      overflow: hidden;
      height: calc(100vh - 80px);
      width: 100%;
      z-index: -1;
      top: -100vh;
      transition: .5s;
      flex-direction: column;
      align-items: center;
  }
  .opciones{
      flex-direction: column;

  }
  .opciones a{
      color: #ff7b00;
  }
  .btn_login{
      background:var(--color_botones_primarios);
      color: #ffffff; 
  }
  
  .btn_login:hover{
      color: var(--color_botones_primarios);
      background-color: #ffffff;
  }
  .active {
      top: 80px;
  }
  
}

.toggle2 {
  color: var(--color_botones_primarios);
  margin-left: 95%;
  font-size: 30px;
  transform: rotate(90deg);
  cursor: pointer;
  transition: .3s;
  display: none;
  
}

@media screen and (max-width: 1350px){
  .toggle2 {
      display: inline-block;
  }
  .navegacion{
    margin: -10px -20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #fffffff3;
    text-align: center;
    overflow: hidden;
    height: calc(100vh - 80px);
    width: 100%;
    z-index: -1;
    top: -100vh;
    transition: .5s;
    flex-direction: column;
    align-items: center;
  }
  
  .navegacion ul{
    list-style: none;
  }
  
  .menu > li{
    position: relative;
    display: inline-block;
  }
  
  .menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: 'Open sans';
    text-decoration: none;
  }
  
  .menu li a:hover{
    color: #CE7D35;
    transition: all .3s;
  }
  
  /* Submenu*/
  
  .submenu{
    position: absolute;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
  }
  
  .submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
  }
  
  .menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
  }

  .active {
    top: 10px;
  }
}

.sidebar{
    position: fixed;
    top: 150px;
    left: 0;
    height: 48%;
    width: 26px;
    background: var(--color_botones_primarios);
    z-index: 100;
    transition: all 0.5s ease;
    background-position: 0%;

    
  }
  .sidebar.close{
    width: 95px;
  }
  
  .sidebar .nav-links{
    height: 100%;
    padding: 10px 0 150px 0;
    overflow: auto;
    
  }

  .sidebar.close .nav-links{
    overflow: visible;
  }
  .sidebar .nav-links::-webkit-scrollbar{
    display: none;
  }
  .sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li:hover{
    background: #1d1b31;
  }
  .sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar.close .nav-links li .iocn-link{
    display: block
  }
  .sidebar .nav-links li i{
    font-style: normal;
    margin:  auto;
    height: 50px;
    min-width: 100%;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
  }
  .sidebar.close .nav-links i.arrow{
    display: none;
  }
  .sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #030303;
    transition: all 0.4s ease;
  }
  .sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
  }
  .sidebar .nav-links li.showMenu .sub-menu{
    display: block;
  }
  .sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
  }
  .sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li .sub-menu .link_name{
    display: none;
  }
  .sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
  }
  .sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
  }



  .sidebar .profile-details{
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
  }
  .sidebar .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details img{
    padding: 10px;
  }
  .sidebar .profile-details .profile_name,
  .sidebar .profile-details .job{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
  }
  .sidebar.close .profile-details i,
  .sidebar.close .profile-details .profile_name,
  .sidebar.close .profile-details .job{
    display: none;
  }
  .sidebar .profile-details .job{
    font-size: 12px;
  }





  section{
    margin: 100px auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }

  .card {
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 320px;
    height: 480px;
    background: #646464;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: var(--color_botones_primarios);
    transform: skewY(345deg);
    transition: 0.5s;
  }
  
  .card:hover::before {
    top: -70%;
    transform: skewY(390deg);
  }
  
  
  .card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
  }
  /*
  .card .imgBox img {
      max-width: 100%;
      
      transition: .5s;
  }
  
  .card:hover .imgBox img {
      max-width: 50%;
        
  }
  */
  .card .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
  }
  
  .card .contentBox h3 {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .card .contentBox .price {
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .card .contentBox .buy {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 1px 30px;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    background: #ffe600;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.4s;
  }
  
  .card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
  }
  
  .mouse {
    height: 250px;
    width: auto;
  }
  
  .navegacion{
    width: 1000px;
    margin: 0px auto;
    background: #ffffffb0;
  }
  
  .navegacion ul{
    list-style: none;
  }
  
  .menu > li{
    position: relative;
    display: inline-block;
  }
  
  .menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: 'Open sans';
    text-decoration: none;
  }
  
  .menu li a:hover{
    color: #CE7D35;
    transition: all .3s;
  }
  
  /* Submenu*/
  
  .submenu{
    position: absolute;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
  }
  
  .submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
  }
  
  .menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
  }